meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css')
link(rel='stylesheet' href='/css/dashboard.css')
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js')
script(src='https://res.wx.qq.com/open/js/jweixin-1.2.0.js')
link(rel='stylesheet' href='https://cdn.bootcss.com/bootstrap-fileinput/4.4.9/css/fileinput.min.css')
script(src='https://cdn.bootcss.com/bootstrap-fileinput/4.4.9/js/fileinput.min.js')
script(src='https://cdn.bootcss.com/bootstrap-fileinput/4.4.9/js/locales/zh.js')
link(href="https://cdn.bootcss.com/bootstrap-fileinput/4.4.9/themes/explorer/theme.min.css" rel="stylesheet")
script(src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.9/themes/explorer/theme.min.js")
