
nav.col-md-2.d-none.d-md-block.bg-light.sidebar
  div.sidebar-sticky
    ul.nav.flex-column
      li.nav-item
        a.nav-link.active(href="/")
          span(data-feather="home")
          span 首页
      li.nav-item
        a.nav-link(href="/admin/product/list")
          span(data-feather="file")
          span 商品列表
      li.nav-item
        a.nav-link(href="/admin/category")
          span(data-feather="file")
          span 商品分类
      li.nav-item
        a.nav-link(href="/admin/category/list")
          span(data-feather="file")
          span 商品分类列表
      li.nav-item
        a.nav-link(href="/admin/product")
          span(data-feather="file")
          span 上传excel表格
      li.nav-item
        a.nav-link(href="/admin/upload")
          span(data-feather="file")
          span 商品图片批量上传
      li.nav-item
        a.nav-link(href="/admin/slideShow/list")
          span(data-feather="file")
          span 小程序轮播图添加
      li.nav-item
        a.nav-link(href="/admin/user/list")
          span(data-feather="file")
          span 用户列表
